
variable "aws" {
  default = {
    config = {
      profile = "vtenh"
    }

    credentials = {
      "region"     = ""
      "access_key" = ""
      "secret_key" = ""
    }
  }
}

variable "ssh_public_key_file" {
  default = ""
}

variable "rds" {
  default = {
    postgresql = {
      engine_class   = "db.t3.medium"
      engine_version = "12.4"
      db_name        = ""
      db_username    = ""
      db_password    = ""
    }
  }
}

variable "s3_storage" {
  default = {
    bucket_name = "vtenh"
  }
}

variable "name" {
  default = "VTENH"
}

variable "rails_master_key" {
  type    = string
  default = ""
}


variable "queue_cpu" {
  default = 512
}

variable "queue_memory" {
  default = 1024
}

variable "task_cpu" {
  default = 512
}

variable "task_memory" {
  default = 1024
}

variable "web_cpu" {
  description = "Number of CPU Unit. 1024 eq 1CPU"
  type        = string
  default     = 1024
}

variable "web_memory" {
  default = 2048
}

variable "container_port" {
  default = 80
}

variable "image_id" {
  default = "ami-065d37ce21ef5bed5"
}

variable "instance_type" {
  default = "t3.small"
}

variable "max_count" {
  default = 4
}

variable "min_count" {
  default = 1
}

variable "queue_max_count" {
  default = 2
}

variable "queue_min_count" {
  default = 1
}


variable "desired_count" {
  default = 1
}

variable "queue_desired_count" {
  default = 1
}

variable "health_check_path" {
  default = "/health_check"
}

variable "acm_certificate_arn" {
  default = ""
}

variable "domain_name" {
  default = "vtenh.com"
}

variable "default_tags" {
  default = {
    AutoManaged = "true"
  }
}

variable "protected_username" {
  default = ""
}

variable "protected_password" {
  default = ""
}

variable "task_command_file" {
  description = "Exec bash file to execute as default docker CMD."
  default     = "/tmp/custom_script/task.sh"
}

# local site to allow to access CORS s3 if required
variable "cors_local_sites" {
  default = []
}

variable "app_environments" {
  default = {
    active_storage_cdn = ""
    asset_host_url      = "
    default_email_for_payment     = "info+aba@vtenh.com"
    device_secret_key   = ""
    exception_notification_enable = "yes"
    es_url = ""
    exception_slack_webhook_url   = ""
    exception_channel_id          = ""
    fb_app_id                     = "381496249527504"
    firebase_project_id = ""
    google_tag_manager  = "GTM-"
    host                = "
    rails_master_key    = ""
    rails_min_instances = 4
    rails_max_instance  = 6
    show_topbar         = "yes"
    sidekiq_username    = ""
    sidekiq_password    = ""
    sms_sender_id       = ""
    smtp_server         = ""
    smtp_username       = ""
    smtp_password       = ""
    time_zone           = "Bangkok"
    rails_max_threads   = 5
    touch_redeploy      = "2022-02-26-19:30:00"
  }
}

variable "sendgrid_dns_settings" {
  default = [
    # { name = "", value = "" },
  ]
}

variable "cdn" {
  default = {
    sub_domain = "cdn" # cdn.vtenh.com
    cloudfront_domain_name = "xxxx.cloudfront.net"
  }
}
